html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-toolbar div md-icon {
  height: 48px;
  width: 48px;
}

md-list div.selected {
  color: #03a9f4;
}

md-tab-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.frame-cfg {
  padding: 8px;
}

.frame-cfg-section {
  border-radius: 4px;
  background: whitesmoke;
}

.frame-cfg-toolbar {
  border-radius: 4px 4px 0 0;
  padding: 8px;
  padding-left: 32px;
  /*font-weight: bold;*/
}

.frame-cfg-body {
  margin: 16px;
}


/*md-toolbar h3 {*/
  /*margin: auto;*/
  /*font-weight: 500;*/
/*}*/

/*md-toolbar div md-icon {*/
  /*height: 48px;*/
  /*width: 48px;*/
/*}*/