html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-toolbar div md-icon {
  height: 48px;
  width: 48px;
}

#content {
    height: calc(100% - 48px - 65px);
}

md-list div.selected {
  color: #03a9f4;
}

md-tab-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.frame-cfg {
  padding: 8px;
}

.frame-cfg-section {
  border-radius: 4px;
  background: whitesmoke;
}

.frame-cfg-toolbar {
  border-radius: 4px 4px 0 0;
  padding: 8px;
  padding-left: 32px;
  /*font-weight: bold;*/
}

.frame-cfg-body {
  margin: 16px;
}

.avatar {
    font-size: 128px;
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 10%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

.avatar-selected {
    color: orangered;
}

.txt-list-item {
    text-align: left;
}

.db-img-preview {
    width:  100%;
    height: 100%;
    border-radius: 4px;
}

.dbpreview-chip-samples-main {
    background: lightcoral;
}
.dbpreview-chip-samples-other {
    background: lightgoldenrodyellow;
}

.dbpreview-chip-size-main {
    background: lightblue;
}
.dbpreview-chip-size-other {
    background: lightcyan;
}

.device-list-available {
    background: lightgreen;
}

.device-list-busy {
    background: lightcoral;
}

/*.db-preview-grid {*/
    /*.md-whiteframe-16dp;*/
/*}*/

/*.db-preview-grid:hover {*/
    /*.md-whiteframe-16dp;*/
/*}*/

/*md-toolbar h3 {*/
  /*margin: auto;*/
  /*font-weight: 500;*/
/*}*/

/*md-toolbar div md-icon {*/
  /*height: 48px;*/
  /*width: 48px;*/
/*}*/

md-dialog.md-log_dialog-theme {
   white-space: pre-wrap;
}


.md-sidenav-custom{
        position: inherit;
     -webkit-transform: translate(0%, 0);
     transform: translate(0%, 0);
}

md-sidenav.md-closed-add, md-sidenav.md-closed-remove {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-transition: 0.0s ease-in all;
    transition: 0.0s ease-in all; 
}

md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active {
    -webkit-transition: all 0s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0s cubic-bezier(0.25, 0.8, 0.25, 1); }

.layer-icon{
    width: 40px;
    height: 40px;
}

