html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-toolbar div md-icon {
  height: 48px;
  width: 48px;
}

md-list div.selected {
  color: #03a9f4;
}

md-tab-item {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

