.palette_node {
    cursor:move;
    background: none;
    margin: 10px auto;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #999;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    width: 50px;
    background-size: contain;
    
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.function_label {
    font-size: 12px;
}


.node_active {
    stroke-width: 3;
    stroke-dasharray: 10 10;
}

.link_line {
    stroke: green;
    stroke-width: 5;
    stroke-opacity: .8;
    fill: none;
    pointer-events: stroke;
}

.link_line_active {
    stroke: green;
    stroke-width: 10;
    stroke-opacity: 1;
}

#sel_rect {
    stroke: #000099;
    stroke-width: 1;
    stroke-dasharray: 10 5;
    fill: #3333ff;
    fill-opacity: 0.1;
}

.palette {
    width: 200px;
}

.constructor {
	height:100%;
	max-width: 100%;
}
.constructor div:first-child {
	max-width: 100%;
}

.constructor div:last-child {
	max-width: 100%;
    height: calc(100% - 48px);
}

#workspace {
	overflow: hidden;
	height:100%;
    border: 2px solid darkgray;
}

#viewport {
    float: right;
	position: relative;
    background: #6699ff;
    height:200px;
    width:200px;
    opacity: 0.7;
    border: 2px solid darkgray;
}
#viewport div{
    position: relative;
	background: #ccddff;
    height:50px;
    width:50px;
}

#constructor-tools {
    float: left;
    position: relative;
    bottom: 40px;
    height:40px;
    width:165px;
    opacity: 0.7;
}

/*md-tab-content {
	height:0px;
}*/

/*md-tab-content > div:first-child {
	height:100%;
}*/

/*#workspace:focus {
  background: Silver;
}*/

#svg {
	overflow: visible;
}
