.palette_node {
    cursor:move;
    background: none;
    margin: 10px auto;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #999;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    width: 50px;
    background-size: contain;

}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.function_label {
    font-size: 12px;
}


.node_active {
    stroke-width: 3;
    stroke-dasharray: 10 10;
}

.link_line {
    stroke: green;
    stroke-width: 5;
    stroke-opacity: .8;
    fill: none;
    pointer-events: stroke;
}

.link_line_active {
    stroke: green;
    stroke-width: 10;
    stroke-opacity: 1;
}

#sel_rect {
    stroke: #000099;
    stroke-width: 1;
    stroke-dasharray: 10 5;
    fill: #3333ff;
    fill-opacity: 0.1;
}

.palette {
    width: 250px;
}

#layer-info {
    width: 300px;
}

.constructor {
	height:100%;
	max-width: 100%;
    position: relative;
}


.constructor div:last-child {
	max-width: 100%;
    height: calc(100% - 4px);
}

#workspace {
    position: relative;
	overflow: hidden;
	height:100%;
    border: 2px solid darkgray;
}

#constructor-progress {
    position: relative;
	height: 4px;
    background: lightgray;
}

#constructor-progress div:first-child {
    position: relative;
	height: 4px;
    width: 0%;
    background: dodgerblue;
}

#viewport {
	position: absolute;
    right:0px;
    bottom:0px;
    background: #6699ff;
    height:200px;
    width:200px;
    opacity: 0.7;
    border: 2px solid darkgray;
}
#viewport div{
    position: relative;
	background: #ccddff;
    height:50px;
    width:50px;
}

#constructor-network-name {
    position: absolute;
    margin-left: 5px;
    left: 50%;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: darkslategray;
    font-family: Monospaced;
    font-style: italic;
    ext-transform: uppercase;
}
#constructor-network-name span {
    position: relative;
    left: -50%;
}

#constructor-info-panel-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
}

#constructor-info-panel-toggle md-icon {
    font-size: 38px;
}

#constructor-tools {
    position: absolute;
    bottom: 0px;
    height:60px;
    width:260px;
    opacity: 0.7;
}
#constructor-tools md-icon {
    font-size: 35px;
}

#svg {
	overflow: visible;
}

.layer-section-header{
    background-color: #606ebd;;
    color: #FFF;
    text-align: center;
    margin-top: 0px;
}

.layer-panel-item:hover{
       border: solid;
    border-color: #adadad;
    border-radius: 4px;
    border-width: 2px;
    cursor: pointer;
}

.layer-panel-item{
    border: solid;
    border-color: #fafafa;
    border-radius: 4px;
    border-width: 2px;
}
.palette-header{
    text-align: center;
}

