.palette_node {
    cursor:move;
    background: none;
    margin: 10px auto;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #999;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    width: 50px;
    background-size: contain;
    
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node_label {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.function_label {
    font-size: 12px;
}
.node {
    fill: none;
    stroke: #999;
    cursor: move;
    stroke-width: 2;
}

.node_selected {
    stroke-width: 3;
    stroke: grey !important;
}

.node_active {
    stroke-width: 3;
    stroke: grey !important;
}

.port {
    fill:grey;
    stroke: grey;
    stroke-opacity: 0;
    stroke-width: 10;
    cursor: crosshair;
}

.port_hovered {
    fill: grey;
    stroke: grey;
    stroke-opacity: .5;
    stroke-width: 10;
    cursor: crosshair;
}

.link_line {
    stroke: green;
    stroke-width: 2;
    stroke-opacity: .8;
    fill: none;
    pointer-events: stroke;
}

.link_line_active {
    stroke: green;
    stroke-width: 3;
    stroke-opacity: 1;
}

#workspace:focus {
  background: Silver;
}



.site-sidenav {
  background: #106CC8;
}
.site-sidenav md-content {
  background: transparent;
}
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}

.docs-menu,
.docs-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.docs-menu > li {
  border-bottom: 1px solid #267ED5;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

html[dir=rtl] .docs-menu .md-button,
body[dir=rtl] .docs-menu .md-button {
  unicode-bidi: embed;
  text-align: right;
}


.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #267ED5 !important;
}
.docs-menu .md-button md-icon {
  color: white;
}

.docs-menu md-select {
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.docs-menu .md-button.active {
  background: #267ED5;
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}


.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}
.docs-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}