<div layout="column" layout-fill>
    <md-content flex layout="row">
        <md-content flex="30">
            <md-list layout-padding>
                <md-list-item class="md-whiteframe-1dp" ng-repeat="model in $ctrl.models"
                              ng-click="$ctrl.$selectModel(model)">
                    <div layout="row">
                        <md-icon md-font-library="material-icons" class="avatar"
                                 ng-class="{'avatar-selected' : model == $ctrl.selected }">apps
                        </md-icon>
                        <div layout="column" layout-align="center start">
                            <h3> {{ model.name }} </h3>
                            <div layout="row" layout-align="space-between center">
                                <span> {{ model.date }}</span>
                                <md-button class="md-warn">
                                    <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <md-divider></md-divider>
        <md-content layout="column" flex layout-padding>
                <md-chips>
                    <md-chip><strong>Name: </strong>{{ $ctrl.selected.name }}</md-chip>
                    <md-chip><strong>Network: </strong>{{ $ctrl.selected.network }}</md-chip>
                    <md-chip><strong>Data Set: </strong>{{ $ctrl.selected.dataSet }}</md-chip>
                    <md-chip><strong>Size: </strong> {{ $ctrl.selected.size }} </md-chip>
                </md-chips>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Training">
                </md-tab>
                <md-tab label="Inference">
                    <div inference model="{{$ctrl.selected}}"></div>
                </md-tab>
                <md-tab label="Validation">
                </md-tab>
            </md-tabs>
        </md-content>
    </md-content>
</div>