<div layout="row" flex="grow">
    <md-content flex="30">
        <md-subheader class="md-no-sticky">Model Names</md-subheader>
        <md-list layout-padding>
            <md-list-item class="md-1-line" ng-repeat="model in $ctrl.models" ng-click="$ctrl.$selectModel(model)">
                <div class="md-list-item-text" ng-class="{'selected' : model == $ctrl.selected }">
                    <h3> {{ model.name }} </h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    <md-divider></md-divider>
    <md-content flex="grow">
        <md-subheader class="md-no-sticky"><ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="/frontend/components/breadcrumbs/uiBreadcrumbs.tpl.html"></ui-breadcrumbs></md-subheader>
        <div layout-padding layout="row">
            <h3> {{ $ctrl.selected.name }} </h3>
            <apply-model-menu></apply-model-menu>
            <a ui-sref="models.classify-image">Click Link</a>
        </div>
    </md-content>
</div>

