<md-dialog aria-label="Classify Images" flex="65" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Classify Images</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <classify-image></classify-image>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-raised">
            Cancel
        </md-button>
        <md-button ng-click="" class="md-primary md-raised">
            Download
        </md-button>
    </md-dialog-actions>
</md-dialog>