<div>
    <md-menu>
        <md-button aria-label="Apply Model Menu" class="md-primary md-raised demo-menu-open-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
            Apply Model
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="$ctrl.createImagesDialog($event)">
                    Classify Images
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="$ctrl.createDataSetDialog($event)">
                    Classify Image Data Set
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>