<md-content  >
    
        <!--md-toolbar class="md-primary unselectable" ng-click="toggle()" tabIndex = "-1">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">{{section.name}}</h2>
            </div>
        </md-toolbar-->
         <h4 class="md-flex layer-section-header">{{section.name}}</h4>
    <div layout="row">
        <div flex  class="layer-panel-item" ng-repeat="layer in section.items" draggable="layer" data-icon="{{ getIconPath(layer.layerType) }}">
            <div flex>
                <img class="layer-icon" ng-src="{{ getIconPath(layer.layerType) }}" data-icon="{{ getIconPath(layer.layerType) }}"></img>
                <p class="layer-label" data-icon="{{ getIconPath(layer.layerType) }}">{{ layer.name }}</p>
            </div>
        </div>
    </div>
</md-content>