<!--<md-content>
    <md-list>
        <md-list-item ng-repeat="category in categories">
            <div id="palette-header-{{ category.name }}">
                <span ng-click="palette.categoryClick(category.name)" class="unselectable">{{ category.name }}</span>

                <md-list>
                    <md-list-item ng-hide="palette.isHide(category.name)" class="palette_node" draggable ng-repeat="type in types track by $index" ng-if="type.category === category.name" palette-data="type" >
                        <div class="palette_label unselectable">{{ type.content }}</div>
                        <div class="palette_icon_container">
                            <div class="palette_icon" style="background-image: url({{type.icon}})"></div>
                        </div>
                        <div class="palette_port palette_port_output" style="top: 9px;"></div>
                    </md-list-item>
                </md-list>
            </div>
        </md-list-item>
    </md-list>
</md-content>-->

  <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h3>
          <span>Layers</span>
        </h3>
      </div>
    </md-toolbar>
    <md-content role="navigation">
      <ul class="side-menu">
        <li ng-repeat="category in categories" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">
          <h2 class="menu-heading">
            {{category.name}}
          </h2>
          <!--<menu-link section="section" ng-if="section.type === 'link'"></menu-link>-->
          <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
        </li>
      </ul>

    </md-content>
  </md-sidenav>
