<md-tabs md-selected="tabSelectedIndex" md-dynamic-height md-border-bottom md-autoselect>
    <md-tab class="unselectable">
        <md-tab-label>
            Hardware
        </md-tab-label>
        <md-tab-body>
            <device></device>
        </md-tab-body>
    </md-tab>
    <md-tab class="unselectable">
        <md-tab-label>
            Device Selector
        </md-tab-label>
        <md-tab-body>
            <device-selector></device-selector>
        </md-tab-body>
    </md-tab>
    <md-tab class="unselectable">
        <md-tab-label>
            Inference
        </md-tab-label>
        <md-tab-body>
            <md-button class="md-primary md-raised" ng-click="$ctrl.createImagesSelectionDialog()">
                Check Inference (see log)
            </md-button>
            <hr>
            <md-select ng-model="$ctrl.selectedModel">
                <md-option ng-value="selectedModel" ng-repeat="selectedModel in $ctrl.listModels">
                    <strong>{{selectedModel.info.name}}</strong> ({{selectedModel.info.id}}), dataset: {{selectedModel.info['dataset-name']}}
                </md-option>
            </md-select>
            <md-checkbox ng-model="$ctrl.showDebug">Show debug info</md-checkbox>
            <h3 ng-if="$ctrl.showDebug">
                <md-list>
                    <md-list-item ng-repeat="(kk,vv) in $ctrl.selectedModel.info"><h4>{{kk}} : <strong>{{vv}}</strong></h4></md-list-item>
                    <div style="background: lightsalmon">
                        <h3>Snapshots:</h3>
                        <md-list-item ng-repeat="kk in $ctrl.selectedModel.snapshots"><h4><strong>{{kk}}</strong></h4></md-list-item>
                    </div>
                </md-list>
            </h3>
            <hr>
            <div style="background: lightsalmon">
                <h2><strong>Inference results:</strong></h2>
                <p>
                    <div ng-repeat="ii in $ctrl.dataResponse">
                        <h4>{{ii}}</h4>
                    </div>
                </p>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>