<md-list>
      <div layout="row" layout-align="center center">
            <div flex layout="center" layout-align="center">
                <h1>Running Tasks: </h1>
            </div>
            <md-checkbox aria-label="CheckBox" ng-model="$ctrl.isChecked" class="md-secondary">Check Layout</md-checkbox>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <div layout="column" flex="{{$ctrl.isChecked? 40 : 60}}" flex-offset="{{$ctrl.isChecked?0:15}}">
                <md-list>
                    <md-list-item flex layout="row"
                                  class="secondary-button-padding"
                                  ng-click="$ctrl.doPrimaryAction($event,$index)"
                                  ng-repeat="dat in $ctrl.listDats">
                        <div ng-switch="dat.type">
                            <div ng-switch-when="model">
                                <img width="64px" height="64px" src="/frontend/assets/icon/img/img-model1.png" />
                            </div>
                            <div ng-switch-default="">
                                <img width="64px" height="64px" src="/frontend/assets/icon/img/img-dataset1.png" />
                            </div>
                        </div>
                        <div class="md-list-item-text" flex="80">
                            <div ng-show="dat.state=='finished'">
                                <div layout="col" layout-align="center center">
                                    <h3>{{dat.text}}</h3>
                                </div>
                            </div>
                            <div ng-show="dat.state!='finished'">
                                <div layout="row" layout-align="center center">
                                    <div flex="50">
                                        <div layout="column" layout-align="center center">
                                            <h4>{{dat.text}}</h4>
                                        </div>
                                    </div>
                                    <md-progress-linear value="{{dat.progress}}" flex="50"></md-progress-linear>
                                </div>
                            </div>
                        </div>
                        <div flex="20" layout="row" layout-align="center center">
                            <div ng-if="dat.state=='finished'">
                                <md-button ng-disabled="true" class="md-primary">Finished</md-button>
                            </div>
                            <div ng-show="dat.state=='running'">
                                <md-button class="md-raised md-warn md-hue-2" ng-click="$ctrl.doItemDelete(dat.id)">Cancel</md-button>
                            </div>
                            <div ng-if="dat.state=='killed'">
                                <md-button ng-disabled="true" class="md-primary">Killed</md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>

            <div class="animate-if md-padding" ng-show="$ctrl.isChecked && $ctrl.selectedIndex>-1" layout="column" flex="60" layout-align="start">
                <md-whiteframe class="md-whiteframe-2dp md-padding" layout="row" flex layout-align="center start">
                    <md-list flex>
                        <md-list-item layout="row" layout-align="center center">
                            <div flex="100" layout="column" layout-align="center center">
                                <h3>Current Item: {{$ctrl.curr().text}}</h3>
                            </div>
                            <md-button ng-disabled="!$ctrl.curr().isFinished"
                                       class="md-raised md-primary"
                                       ng-click="$ctrl.showLogDialog($event)">Show Log</md-button>
                            <md-button class="md-raised md-primary"
                                       ng-click="$ctrl.isChecked=!ctrl.isChecked">Hide</md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item layout="row" layout-align="center">
                             <div ng-switch="$ctrl.curr().type">
                                <div ng-switch-when="model">
                                    <img width="140px" height="140px" src="/frontend/assets/icon/img/img-model1.png" />
                                </div>
                                <div ng-switch-default="">
                                    <img width="140px" height="140px"  src="/frontend/assets/icon/img/img-dataset1.png" />
                                </div>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <!--<md-list-item layout="row" layout-align="center center">-->
                            <!--<h2>-->
                                <!--{{ctrl.curr()}}-->
                            <!--</h2>-->
                        <!--</md-list-item>-->
                        <md-list-item layout="row" layout-align="center center">
                            <!--<div flex="100" ng-cloak>-->
                                <div flex ng-cloak google-chart chart="$ctrl.chartData()" style="height: 300px"></div>
                            <!--</div>-->
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item layout="row" layout-align="center center">
                            <md-button ng-disabled="$ctrl.curr().isFinished" class="md-raised md-primary" ng-click="$ctrl.addRandomPoint()">Add Random point</md-button>
                        </md-list-item>
                    </md-list>
                </md-whiteframe>
            </div>
        </div>
  
</md-list>