<div layout="column">
    <div layout="row">
        <md-button class="md-primary md-raised" ng-click="$ctrl.saveNetworkDialog($event)">
            Save
        </md-button>
        <span class="md-headline">Network name: {{networkName}}</span>
    </div>
    <div layout="row"  class="unselectable">
        <palette></palette>
        <div layout="column" flex id="workspace" style="overflow: auto; " tabindex="1">
            <div>
                <md-button ng-click="$ctrl.zoomOut($event)" class="md-warn md-raised md-hue-2">-</md-button>
                <md-button ng-click="$ctrl.zoomIn($event)" class="md-warn md-raised md-hue-2">+</md-button>
            </div>
            <svg-graph control-item="$ctrl.svgControl" svg-width="{{$ctrl.svgWidth}}" svg-height="{{$ctrl.svgHeight}}" svg-color="#fff" pointer-events="all" focusable="false"></svg-graph>
        </div>
    </div>
</div>