<div class="constructor">
    <div layout="row">
        <md-button class="md-primary md-raised" ng-click="$ctrl.saveNetworkDialog($event)">
            Save
        </md-button>
        <span class="md-headline">Network name: {{networkName}}</span>
    </div>
    <div layout="row" class="unselectable">
        <palette style="overflow: auto;"></palette>
        <div flex layout="column" style="height:100%;">
            <!--<div>-->
                <!--<md-button ng-click="$ctrl.zoomOut($event)" class="md-warn md-raised md-hue-2">-</md-button>-->
                <!--<md-button ng-click="$ctrl.zoomIn($event)" class="md-warn md-raised md-hue-2">+</md-button>-->
                <!--<md-button ng-click="$ctrl.resetView($event)" class="md-warn md-raised md-hue-2">Reset view</md-button>-->

            <!--</div>- -->
            <div id="workspace" tabindex="1">
                <svg-graph flex layout="column" control-item="$ctrl.svgControl" svg-width="{{$ctrl.svgWidth}}" svg-height="{{$ctrl.svgHeight}}" svg-color="#fff" pointer-events="all" focusable="false"></svg-graph>
                <viewport svg-width="{{$ctrl.svgWidth}}" svg-height="{{$ctrl.svgHeight}}"></viewport>
                <div id="constructor-tools">
                    <md-button ng-click="$ctrl.zoomOut($event)" class="md-icon-button" aria-label="More">
                        <md-icon md-font-library="material-icons" aria-label="reset">zoom_out</md-icon>
                    </md-button>
                    <md-button ng-click="$ctrl.zoomIn($event)" class="md-icon-button" aria-label="More">
                        <md-icon md-font-library="material-icons" aria-label="reset">zoom_in</md-icon>
                    </md-button>
                    <md-button ng-click="$ctrl.resetView($event)" class="md-icon-button" aria-label="More">
                        <md-icon md-font-library="material-icons" aria-label="reset">youtube_searched_for</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>