<div layout="column">
    <div id="network-main" flex layout="row" layout-wrap ng-cloak>
        <md-tabs class="md-default" flex md-dynamic-height md-border-bottom md-autoselect
                        md-selected="selectedIndex" md-center-tabs="true" style="padding-top: 16px">
            <md-tab class="unselectable">
                <md-tab-label>
                    <md-icon md-font-library="material-icons" aria-label="dashboard">dashboard</md-icon>
                    <strong>Library Networks</strong>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'frontend/components/main/network/network-list.html'"></div>
                </md-tab-body>
            </md-tab>
            <md-tab class="unselectable">
                <md-tab-label>
                    <md-icon md-font-library="material-icons" aria-label="dashboard">dashboard</md-icon>
                    <strong>User Networks</strong>
                </md-tab-label>
                <md-tab-body>
                    <div ng-include="'frontend/components/main/network/network-list.html'"></div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>


