<md-content layout="column" layout-fill>
    <md-tabs md-selected="tabSelectedIndex" md-dynamic-height md-border-bottom md-autoselect>
        <md-tab class="unselectable">
            <md-tab-label>
                Hardware
            </md-tab-label>
            <md-tab-body>
                <hardware></hardware>
            </md-tab-body>
        </md-tab>
        <md-tab class="unselectable">
            <md-tab-label>
                Environment
            </md-tab-label>
            <md-tab-body>
                <environment></environment>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>