<div layout-margin>
    <div layout="column">
        <md-input-container>
            <label>Merge Type</label>
            <md-select ng-model="params.mergeType" ng-model-options="{trackBy: '$value'}" required>
                <md-option ng-repeat="option in mergeTypesList" ng-value="option.value">
                    {{option.text}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Merge Axis</label>
            <md-select ng-model="params.mergeAxis" required>
                <md-option ng-repeat="option in mergeAxisList" ng-value="option">
                    {{option}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>