<div layout="column">
    <div layout="row">
        <md-fab-speed-dial ng-hide="$ctrl.hidden" md-direction="left" md-open="$ctrl.eventIsOpen"
                       class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': $ctrl.hover }"
                       ng-mouseenter="$ctrl.eventIsOpen=true" ng-mouseleave="$ctrl.eventIsOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Create Dataset</md-tooltip>
                    <md-icon md-font-library="material-icons" aria-label="menu">add</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div ng-repeat="item in $ctrl.items">
                    <md-button aria-label="{{ item.name }}" class="md-fab md-raised md-mini"
                               ng-click="$ctrl.openDialogCreateDataset($event, item)">
                        <md-tooltip md-direction="{{ item.direction }}" md-visible="tooltipVisible"
                                    md-autohide="false">
                            {{ item.name }}
                        </md-tooltip>
                        <md-icon md-font-library="material-icons" aria-label="{{ item.name }}">{{ item.icon }}</md-icon>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>

    <div flex="80" class='md-padding' layout="row" layout-wrap>
        <md-card ng-repeat="db in $ctrl.datasets">
            <img ng-src="/dbpreview/dbimgpreview/{{db.id}}" class="md-card-image md-whiteframe-2dp" alt="user avatar">
            <md-card-content>
                <h2>{{db.name}}</h2>
                <p>{{db.type}}, <strong>{{db.shapestr}}</strong>, {{db.info.date.str}} ({{db.info.time.str}})</p>
            </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="">
                <md-icon md-font-library="material-icons" aria-label="show">visibility</md-icon>
                Info
            </md-button>
            <md-button class="md-warn">
                <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
                Delete
            </md-button>
          </div>
        </md-card>
    </div>
    <!--div flex layout-margin style="margin-top: 80px">
        <md-list ng-cloak>
            <md-list-item ng-repeat="model in $ctrl.models">
                <p> {{ model.name }} </p>
                <md-progress-linear md-mode="determinate" value="60"></md-progress-linear>
                <p>In Progress</p>
                <md-button class="md-secondary" ng-click="$ctrl.createDialog($event)">Open</md-button>
                <md-button class="md-secondary" ng-click="$ctrl.createDialog($event)">Delete</md-button>
            </md-list-item>
        </md-list>
    </div-->

    <!--div layout="row">
        <md-button class="md-secondary" ng-click="$ctrl.createDialog($event)">Create New Data Set</md-button>
    </div-->

</div>
