<div layout="column">

    <div flex layout="row" layout-wrap ng-cloak>
        <md-tabs class="md-default" flex md-dynamic-height md-border-bottom md-autoselect
                 md-center-tabs="true" style="padding-top: 16px">
            <md-tab class="unselectable">
                <md-tab-label>
                    <md-icon md-font-library="material-icons" aria-label="dashboard">dashboard</md-icon>
                    <strong>Grid View</strong>
                </md-tab-label>
                <md-tab-body>
                    <div class='md-padding' layout="row" layout-wrap>
                        <md-card ng-repeat="db in $ctrl.datasets" class="md-whiteframe-8dp">
                            <img ng-src="/dbpreview/dbimgpreview/{{db.id}}" class="md-card-image md-whiteframe-2dp" alt="user avatar">
                            <md-card-content>
                                <h2>{{db.name}}</h2>
                                <p>{{db.type}}, <strong>{{db.shapestr}}</strong>, {{db.info.date.str}} ({{db.info.time.str}})</p>
                            </md-card-content>
                          <div class="md-actions" layout="row" layout-align="end center">
                            <md-button class="" ng-click="$ctrl.createDialogPreviewDB($event, db.id)">
                                <md-icon md-font-library="material-icons" aria-label="show">visibility</md-icon>
                                Info
                            </md-button>
                            <md-button class="md-warn">
                                <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
                                Delete
                            </md-button>
                          </div>
                        </md-card>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab class="unselectable">
                <md-tab-label>
                    <md-icon md-font-library="material-icons" aria-label="dataset">add_circle</md-icon>
                    <strong>Add Dataset</strong>
                </md-tab-label>
                <md-tab-body>
                    <dataset-builder></dataset-builder>
                </md-tab-body>
            </md-tab>

            <md-tab class="unselectable">
                <md-tab-label>
                    <md-icon md-font-library="material-icons" aria-label="file manager">folder</md-icon>
                    <strong>File Manager</strong>
                </md-tab-label>
                <md-tab-body>
                    <angular-filemanager></angular-filemanager>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>

</div>
