<md-dialog aria-label="FM">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" style="width:800px; height:600px;">
                <angular-filemanager></angular-filemanager>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="select()" md-autofocus>
                Select
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
