<div id = "network-view-toggle">
    <md-button ng-click="$ctrl.toggleView()" class="md-icon-button" aria-label="More">
        <md-icon md-font-library="material-icons" aria-label="reset">{{$ctrl.toggleIcon}}</md-icon>
    </md-button>
</div>
<div ng-if="$ctrl.viewGrid" layout="row"  flex="80" flex-offset="10" layout-wrap>
    <md-card ng-repeat="network in $ctrl.savedNetworks | networksFilter : selectedIndex" class="md-whiteframe-8dp network-list-card">
        <img ng-src="{{network.preview}}" class="md-card-image md-whiteframe-2dp" alt="preview">
        <md-card-content>
            <h4>
                {{network.name}}
            </h4>
            <p>
                <strong>Layers: </strong>{{network.size}}
            </p>
        </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button class="" ng-click="$ctrl.createOpenNetworkDialog($event, network)">
            <md-icon md-font-library="material-icons" aria-label="show">visibility</md-icon>
            Open In Builder
        </md-button>
        <md-button class="md-warn" ng-click="$ctrl.removeNetworkByName($event, network)">
            <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
            Delete
        </md-button>
      </div>
    </md-card>
</div>

<div ng-if="!$ctrl.viewGrid" layout="column" flex="80" flex-offset="10" ng-cloak>
    <md-list>
        <md-list-item flex layout="row" ng-repeat="network in $ctrl.savedNetworks | networksFilter : selectedIndex""
                      class="md-whiteframe-1dp" layout-padding>
            <div layout="column" flex>
                <div layout="row" class = "network-list">
                    <div layout="column" flex>
                        <div layout="row">
                            <h4>
                                {{ network.name }}
                            </h4>
                        </div>

                        <md-chips>
                            <md-chip class="dbpreview-chip-size-main">Layers: {{network.size}}</md-chip>
                        </md-chips>
                    </div>

                    <md-button class="" ng-click="$ctrl.createOpenNetworkDialog($event, network)">
                        <md-icon md-font-library="material-icons" aria-label="show">visibility</md-icon>
                        Open In Builder
                    </md-button>
                    <md-button class="md-warn" ng-click="$ctrl.removeNetworkByName($event, network)">
                        <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
                        Delete
                    </md-button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>
