<form layout-margin>
<div layout="column">
	<img src="frontend/assets/img/layers/convol.png" layout-margin></img>
	<md-divider></md-divider>
	<md-input-container>
		<label>Filters Count</label>
		<input ng-model="$ctrl.filters_count" type="number" min="1" required>
	</md-input-container>
	<div layout="row">
		<md-input-container  layout-fill>
			<label>Filter Width </label>
			<input ng-model="$ctrl.filter_width" type="number" min = "1" required>
		</md-input-container>
		<md-input-container  layout-fill>
			<label>Filter Height </label>
			<input ng-model="$ctrl.filter_height" type="number" min = "1" required>
		</md-input-container>
	</div>
	<md-input-container>
		<label>Acivation Function</label>
		<md-select ng-model="$ctrl.activation_func" required>
			<md-option ng-repeat="option in $ctrl.act_funcs" ng-value="option.value">
                {{option.text}}
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
		<label>Subsampling Type</label>
		<md-select ng-model="$ctrl.subsampling_type"  required>
			<md-option ng-repeat="option in $ctrl.subsample_types" ng-value="option.value">
                {{option.text}}
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
		<label>Subsampling Size</label>
		<input ng-model="$ctrl.subsampling_size" type="number" min = "1"  required>
	</md-input-container>
	<md-checkbox ng-model="$ctrl.isTrainable">
            Trainable
	</md-checkbox>
</div>
</form>