<form ng-submit="onSubmit()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Convolution Layer</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout-margin>
        <div layout="column">
            <md-input-container>
                <label>Filters Count</label>
                <input ng-model="filters_count" type="number" min="1" required>
            </md-input-container>
            <div layout="row">
                <md-input-container layout-fill>
                    <label>Filter Width </label>
                    <input ng-model="filter_width" type="number" min="1" required>
                </md-input-container>
                <md-input-container layout-fill>
                    <label>Filter Height </label>
                    <input ng-model="filter_height" type="number" min="1" required>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Acivation Function</label>
                <md-select ng-model="act_func_selected" required>
                    <md-option ng-repeat="option in act_funcs" ng-value="option.value" ng-selected="$first">
                        {{option.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Subsampling Type</label>
                <md-select ng-model="subsample_type_selected" required>
                    <md-option ng-repeat="option in subsample_types" ng-value="option.value" ng-selected="$first">
                        {{option.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Subsampling Size</label>
                <input ng-model="subsampling_size" type="number" min="1" required>
            </md-input-container>
            <md-checkbox ng-model="isTrainable">
                Trainable
            </md-checkbox>
        </div>
        <md-button type="submit" class="md-warn md-raised md-hue-2">Submit</md-button>
    </div>
</form>