<form ng-submit="onSubmit()">
    <div layout-margin>
        <div layout="column">
            <md-input-container>
                <label>Data Set Type</label>
                <md-select ng-model="datasetType" ng-model-options="{trackBy: '$value'}" required>
                    <md-option ng-repeat="option in datasetTypeList" ng-value="option.value">
                        {{option.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Select Data Set</label>
                <md-select ng-model="selectedDB" required>
                    <md-option ng-repeat="selectedDB in datasetIdList" ng-value="selectedDB">
                        {{selectedDB.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <hr>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Data-shape:</label>
                <input value="{{selectedDB.shape}}" disabled>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Dataset ID:</label>
                <input value="{{selectedDB.id}}" disabled>
            </md-input-container>
        </div>
        <md-button type="submit" class="md-warn md-raised md-hue-2">Submit</md-button>
    </div>
</form>