<form ng-submit="onSubmit()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Edit Data Layer</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <div layout-margin>
        <div layout="column">
            <md-input-container>
                <label>Data Set Type</label>
                <md-select ng-model="dataset_type" required>
                    <md-option ng-repeat="option in dataset_types" ng-value="option.value" ng-selected="$first">
                        {{option.text}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Select Data Set</label>
                <md-select ng-model="dataset_id" required>
                    <md-option ng-repeat="option in dataset_ids" ng-value="option.value" ng-selected="$first">
                        {{option.text}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-button type="submit" class="md-warn md-raised md-hue-2">Submit</md-button>
    </div>
</form>