<md-content>
    <md-list>
        <md-list-item ng-repeat="image in $ctrl.images" ng-click="null">
            <div layout="row" layout-fill>
                <img ng-src="data:image/JPEG;base64,{{image.content}}" flex="30" layout-margin alt=""/>
                <div  class="md-item-text md-whiteframe-z1" layout="column" layout-margin flex>
                    <md-list>
                        <md-list-item ng-repeat="classProbability in image.classProbabilities">
                            <div layout="column" layout-fill>
                                <p>{{classProbability.value}}% - {{classProbability.name}}</p>
                                <md-progress-linear md-mode="determinate" ng-class="{'md-warn' : $index == 0}" value="{{classProbability.value}}"></md-progress-linear>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>