<div layout="column">
    <div layout="row">
        <md-button class="md-raised md-primary"  type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*">Upload</md-button>
        <md-button class="md-raised md-primary" ng-click="choseImages($event)">From Server</md-button>
        <md-button ng-show="state == 'LOADED'" ng-href="{{fileUrl}}" download="classifiedImages.json" class="md-primary md-raised">
            Download CSV
        </md-button>
    </div>
    <div ng-switch="state">
        <div ng-switch-when="LOADING">
            <div layout="row" layout-align="center center">
                <md-progress-circular md-diameter="200"></md-progress-circular>
            </div>
        </div>
        <div ng-switch-when="LOADED">
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="image in images" ng-click="null">
                        <div layout="row" layout-fill>
                            <img ng-src="{{image.imagePath}}" flex style="height: 500px; width: 500px" layout-margin alt=""/>
                            <div class="md-item-text md-whiteframe-z1" layout="column" layout-margin flex>
                                <md-list>
                                    <md-list-item ng-repeat="classProbability in image.classProbabilities">
                                        <div layout="column" layout-fill>
                                            <p>{{classProbability[1] * 100}}% - {{classProbability[0]}}</p>
                                            <md-progress-linear md-mode="determinate"
                                                                ng-class="{'md-warn' : $index == 0}"
                                                                value="{{classProbability[1] * 100}}"></md-progress-linear>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>