<div>
    <md-content>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in $ctrl.images" ng-click="null">
                <img ng-src="{{item.path}}?{{$index}}" alt=""/>
                <div class="md-list-item-text" layout-padding>
                    <h2 class="md-title">{{item.path}}</h2>
                    <md-list layout="row">
                        <md-list-item class="md-2-line veggie-option" ng-repeat="classProbability in item.classProbabilities" layout-wrap>
                            <div class="md-item-text md-whiteframe-z1" flex>
                                <h3>{{classProbability.name}}</h3>
                                <p>{{classProbability.value}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>