<md-dialog aria-label="Save Network" flex="25" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Choose Dataset For Analysis</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-align="center start" layout-padding>
            <md-input-container>
                <label>Select Data Set</label>
                <md-select placeholder="ROC Analysis" ng-model="dataSetSelected" class="md-no-underline">
                    <md-option ng-value="dataSet" ng-repeat="dataSet in dataSets">{{dataSet.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Select Device</label>
                <device-selector ng-model="device"></device-selector>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-raised">
            Cancel
        </md-button>
        <md-button ng-click="submitROCAnalysisTask()" class="md-primary md-raised">
            Apply ROC Analysis
        </md-button>
    </md-dialog-actions>
</md-dialog>