<div>
    <md-menu>
        <md-button aria-label="Main menu" ng-click="$ctrl.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-svg-icon="call"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="$ctrl.createDialog($event)">
                    New Project
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button disabled="disabled">
                    Open Project
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button>
                    About
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>