<div layout="column" layout-fill>
    <div flex layout="row">
        <div flex="30">
            <md-list layout-padding>
                <md-list-item class="md-whiteframe-1dp" ng-repeat="model in $ctrl.models"
                              ng-click="$ctrl.selectModel(model)">
                    <div layout="row">
                        <md-icon md-font-library="material-icons" class="avatar"
                                 ng-class="{'avatar-selected' : model == $ctrl.selected }">apps
                        </md-icon>
                        <div layout="column" layout-align="center start">
                            <h3> {{ model.name }} </h3>
                            <div layout="row" layout-align="space-between center">
                                <span> {{ model.date }}</span>
                                <md-button class="md-warn">
                                    <md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex layout-padding>
                <md-chips>
                    <md-chip><strong>Name: </strong>{{ $ctrl.selected.name }}</md-chip>
                    <md-chip><strong>Network: </strong>{{ $ctrl.selected.network }}</md-chip>
                    <md-chip><strong>Data Set: </strong>{{ $ctrl.selected.dataSet }}</md-chip>
                    <md-chip><strong>Size: </strong> {{ $ctrl.selected.size }} </md-chip>
                </md-chips>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Training">
                    <md-card>

                         <div flex ng-cloak id="model-training-chart"
                             class="md-item-text md-whiteframe-z1"></div>
                         <div flex ng-cloak id="model-validation-chart"
                             class="md-item-text md-whiteframe-z1"></div>
                    </md-card>
                </md-tab>
                <md-tab label="Inference">
                    <div inference model="{{$ctrl.selected}}"></div>
                </md-tab>
                <md-tab label="Validation">
                    <div validation model="{{$ctrl.selected}}"></div>
                </md-tab>
                <md-tab label="Layers Visualization">
                    <layers-visualization model="$ctrl.selected"></layers-visualization>
                </md-tab>
                 <md-tab label="Feature Space">
                    <md-card>
                        
                         <div flex ng-cloak id="feature-space-chart"
                              class="md-item-text md-whiteframe-z1"></div>
                    </md-card>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>