<md-toolbar class="md-table-toolbar alternate">
    <div class="md-toolbar-tools">
        <md-select ng-if="options.separateCSV" ng-model="options.dataset" ng-change="selectDataset()">
            <md-option ng-repeat="datasetType in options.datasetTypes" ng-value="datasetType">
                {{datasetType}}
            </md-option>
        </md-select>
        <span flex></span>

        <md-button ng-click="mergeColumn()" >
            Merge columns
        </md-button>

        <md-button ng-click="removeColumns()" >
            Remove columns
        </md-button>

        <span flex></span>
        <md-button ng-click="onLoadCSV()" >
            Reload CSV
        </md-button>
        <md-button ng-click="onCreateDataset($event)" >
            Create Dataset
        </md-button>
    </div>
</md-toolbar>

<md-table-container>
    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selectedRows" md-progress="promise">
        <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>

            <th md-column ng-repeat="header in table.headers">
                <div layout="row" flex>
                    <md-checkbox ng-model="header.selected" ng-click="checkColumn(header)" aria-label="{{$index}}">
                    </md-checkbox>
                    <md-button class="md-icon-button" ng-click="showSettings(header)" >
                        <md-icon>settings</md-icon>
                    </md-button>
                </div>
                <md-select ng-model="header.type" aria-label="favoriteColor">
                    <md-option ng-click="headerSelectedType(header, type)" ng-value="type" ng-repeat="type in table.supportedTypes">{{type}}</md-option>
                </md-select>

            </th>
        </tr>

        <tr md-row>
            <th ng-if="table.config.header" md-column ng-repeat="header in table.headers">
                <div layout="row" flex>
                    <h3 class="md-title">{{header.name}}</h3>
                    <md-button class="md-icon-button" ng-click="editHeaderName($event, header)">
                        <md-icon>mode_edit</md-icon>
                    </md-button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row data-ng-repeat="row in table.rows" md-select="row" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect"  >
            <td md-cell ng-repeat="cell in row.cells" >{{cell.toString()}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>