<div layout-margin>
    <div layout="column">
        <md-input-container>
            <label>Select Data Set</label>
            <md-select ng-model="selectedDataSet" required>
                <md-option ng-repeat="dataSet in dataSets" ng-value="dataSet">
                    {{dataSet.text}}
                </md-option>
            </md-select>
        </md-input-container>
        <hr>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Data-shape:</label>
            <input value="{{selectedDataSet.shape}}" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Dataset ID:</label>
            <input value="{{selectedDataSet.id}}" disabled>
        </md-input-container>
    </div>
</div>